<section class="content">
	<div class="privates-banner">
		<section class="container">
			<h2>PRIVATES</h2>
		</section>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<section class="container">
			<p>Carolyne offers a compassionate, patient and joyful approach to strengthening mind, body and spirit. Drawing from years of experience in different styles of yoga, Carolyne aims to adapt her teachings to the needs of the individual practitioner. </p>

			<p>Enjoy the benefits of practicing yoga in your own home or office, scheduled at your convenience.  Click <a href="" ui-sref="contact">HERE</a> to inquire about privates</p>

			<p>The below is a testimonial from a private for the Private Page</p>

			<div class="panel-quote"><p>“My body needs her” - her calm gentle approach was perfect to inspire my tired, stiffer limbs into action – the time passed much too quickly but her instruction edged my bodies limitations -stretching them safely, gradually towards a better state – had she stayed I am certain that I would by now be back to the days when I would play Football 2 or 3 times a week, had a much easier golf swing and had no fear of Achilles problems on the Tennis court … Carolyne where are you ?  I will just have to put more effort into walking my dog !  ~Ronnie Simkins</p></div>
			</section>
		</div>
	</div>
</section>