<section class="content">
	<div class="corporate-banner">
		<section class="container">
			<h2>CORPORATE</h2>
		</section>
	</div>
	<div class="row">
		<div class="col-lg-12">
			<section class="container">
				<p>The benefits of yoga have been recognized and well documented. It is also well documented that western society as a whole lead more sedentary lifestyles, work longer hours and are overweight and stressed more then ever before.</p>
				
				<p>This stress alone can lead to hypertension, heart attacks, diabetes, asthma, insomnia and chronic pain. Those same stress related illnesses keep over a million people from work on a daily basis, costing companies billions of dollars in lost productivity and health insurance costs.</p>
			
				<p>Employers have found success in keeping their employees healthy by introducing programs like yoga classes as preventative practices. Many employers of all sizes and industries are taking a pro-active approach to employee wellness by investing in workplace programs. In addition to offering onsite yoga and exercise programs, employees can be educated about healthier lifestyle choices. What better way to improve morale, increase productivity and show your employees you really care about their health and well being?</p>

				<p>Stress Release is an important component of the yoga practice and helps prevent illness in a stressful corporate atmosphere. Yoga increases energy and vitality and deepens levels of concentration. </p>

				<p>On-site corporate classes are tailored to meet the Corporate client's needs. They can be held in the morning, before work, at lunch time or in the early evening after work at the company's request. Included in the instruction are physical exercises, breathing and relaxation techniques.</p>

				<p>Yoga in the work place is known to:</p>
				<ul>
					<li>build camaraderie</li>
					<li>reduce stress</li>
					<li>increase the health and well being of co-workers</li>
					<li>reduce illnesses</li>
					<li>increase job satisfaction levels</li>
					<li>increase the productivity of participating employees</li>
				</ul>

				<p>In addition to these classes we can incorporate the following into each yoga session:</p>
				<ul>
					<li>Team building skills</li>
					<li>Effective Communication Skills</li>
					<li>Yoga techniques to reduce tension due to continuous typing and desk work</li>
					<li>Headache tension from prolonged computer usage</li>
				</ul>

				<p><a href="" ui-sref="contact">Contact</a> me today to sceduele an appointment.</p>
			</section>
		</div>
	</div>
</section>













