<section class="private-corporate-page" data-ng-controller="CorporatePrivateController">
	<div class="private-corporate-banner"></div>
	<section class="container">
		<h3>Privates</h3>
		<p>Carolyne offers a compassionate, patient and joyful approach to strengthening mind, body and spirit. Drawing from years of experience in different styles of yoga, Carolyne aims to adapt her teachings to the needs of the individual practitioner.</p>
		<p>Enjoy the benefits of practicing yoga in your own home or office, scheduled at your convenience.  Click HERE to inquire about privates
		Session Price List:</p>
		<ul>
			<li>Private Yoga Instruction (60 mins.):  $75.00</li>
			<li>(90 mins) $90.00  </li>
			<li>Additional Practitioner:  $25.00</li>
		</ul>
		
		<h3>Corporates</h3>
		<P>The benefits of yoga have been recognized and well documented. It is also well documented that western society as a whole lead more sedentary lifestyles, work longer hours and are overweight and stressed more then ever before.</p>
		<p>This stress alone can lead to hypertension, heart attacks, diabetes, asthma, insomnia and chronic pain. Those same stress related illnesses keep over a million people from work on a daily basis, costing companies billions of dollars in lost productivity and health insurance costs.</p>
		<p>Employers have found success in keeping their employees healthy by introducing programs like yoga classes as preventative practices. Many employers of all sizes and industries are taking a pro-active approach to employee wellness by investing in workplace programs. In addition to offering onsite yoga and exercise programs, employees can be educated about healthier lifestyle choices. What better way to improve morale, increase productivity and show your employees you really care about their health and well being?</p>
		<p>Stress Release is an important component of the yoga practice and helps prevent illness in a stressful corporate atmosphere. Yoga increases energy and vitality and deepens levels of concentration.</p>
		<p>On-site corporate classes are tailored to meet the Corporate client's needs. They can be held in the morning, before work, at lunch time or in the early evening after work at the company's request. Included in the instruction are physical exercises, breathing and relaxation techniques.</p>
		<p>Yoga in the work place is known to:</p>
		<ul>
			<li>build camaraderie</li>
			<li>reduce stress</li>
			<li>increase the health and well being of co-workers</li>
			<li>reduce illnesses</li>
			<li>increase job satisfaction levels</li>
			<li>increase the productivity of participating employees</li>
		</ul>
		<p>Please refer to the classes page for descriptions of different classes. In addition to these classes we can incorporate the following into each yoga session:</p>
		<ul>
			<li>Team building skills</li>
			<li>Effective Communication Skills</li>
			<li>Yoga techniques to reduce tension due to continuous typing and desk work</li>
			<li>Headache tension from prolonged computer usage</li>
		</ul>
              
		<p>Call or email to schedule an introductory class today!!!</p>
		
		<div class="row">
			<div class="col-sm-6 col-sm-offset-6">
				<div class="panel panel-default">
  					<div class="panel-body">
						<p class="italic">The thought manifests as the word 
							The word manifests as the deed
							 The deed develops into habit
							 And habit hardens into character
							 So watch the thought
							 And its ways with care
							 And let it spring from love 
							Born out of concern for all beings.
							"~The Buddha"
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</section>