<section class="content doterra">
	<div class="doterra-banner">
    <section class="container">
      <h2>DOTERRA</h2>
    </section>
  </div>
	<section class="container">
		<div class="row">
			<div class="col-sm-6">
				<h4>"dōTERRA," a Latin derivative meaning "Gift of the Earth”</h4>
				<p>Essential Oils are natural extracts from the seeds, stems, roots, flowers, bark and other parts of plants. They have been used throughout history in many cultures for their medical and therapeutic qualities. This ancient holistic approach to wellness is paving the way for individuals and families to reinvent healthcare in their own homes.</p>
				<img src="assets/brand/doterra.png" alt="">
				<p>dōTERRA therapeutic-grade essential oils are pure, natural aromatic compounds carefully extracted from plants. They do not contain fillers or artificial ingredients that would dilute their active qualities. CPTG Certified Pure Therapeutic Grade ® essential oils are guaranteed to be pure, natural, and free of synthetic compounds or contaminates. dōTERRA essential oils are subjected to rigorous mass spectrometry and gas chromatography testing to ensure extract composition and activity. dōTERRA essential oils represent the safest and most beneficial essential oils available today. </p>
				<p>Carolyne started using essential oils throughout her pregnancy and is passionate about the benefits associated with using Doterra as part of a health regime. She incorporates oils into her practice and classes aromatically and topically to heighten the senses and enhance the experience.</p>
				<p>For more information about Doterra and their products see my <a href="http://www.mydoterra.com/freethesenses/">website</a></p>
			</div>
			<div class="col-sm-6 video">
				<iframe src="//www.youtube.com/embed/mGwpMld10DQ" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
</section>