<section class="home-page">
	<div class="home-banner">
		<section class="content">
			<section class="container">
				<div class="row">
					<div class="col-sm-3">
						<h1 class="home">PRESENCE.<br />CONNECTION.<br />LOVE.</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-8">
						<h3 class="home">Carolyne specializes in playful, yet mindful all level Vinyasa Flow classes, fusing the energetic style of Prana Flow Yoga while blending a strong component of hands on alignment and awareness in addition to breath control. Carolyne believes in taking the practice seriously but your self lightly and aims to make yoga accessible to everyone, structuring her classes so that all who come to their mat can experience a mind, body connection."</h3>
					</div>
				</div>
				
			</section>
		</section>
	</div>
	<section class="content">
		<section class="container">
			<div class="row link-blocks">
				<div class="col-xs-12 col-sm-4">
					<div class="panel panel-danger">
					  <div class="panel-body">
					   	<a ui-sref="practice"><img src="/modules/core/img/brand/classes-thumb.jpg" alt=""></a>
					  </div>
					  <div class="panel-footer">
					  	<h3 class="panel-title">Weekly Classes</h3>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="panel panel-danger">					  
						<div class="panel-body">
					    	<a ui-sref="offerings"><img src="/modules/core/img/brand/offerings-thumb.jpg" alt=""></a>
					  </div>
					  <div class="panel-footer">
					  	<h3 class="panel-title">Offerings</h3>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-4">
					<div class="panel panel-danger">
						<div class="panel-body">
					    <a ui-sref="about"><img src="/modules/core/img/brand/laughing-thumb.jpg" alt=""></a>
					  </div>
					  <div class="panel-footer">
					  	<h3 class="panel-title">Carolyne</h3>
						</div>
					</div>
				</div>
			</div>
		</section>
	</section>
</section>