<section class="offerings-page">
  <div class="offerings-banner">
    <section class="container">
      <h2>OFFERINGS</h2>
    </section>
  </div>
  <section class="container">
    <section class="content">
      
      <div class="row link-blocks">

        <div class="col-xs-12 col-sm-4">
          <div class="panel panel-danger">
            <div class="panel-body">
              <a ui-sref="private"><img src="/modules/core/img/brand/privates-thumb.jpg" alt=""></a>
            </div>
            <div class="panel-footer">
              <h3 class="panel-title">Private</h3>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="panel panel-danger">            
            <div class="panel-body">
              <a ui-sref="corporate"><img src="/modules/core/img/brand/corporate-thumb.jpg" alt=""></a>
            </div>
            <div class="panel-footer">
              <h3 class="panel-title">Corporate</h3>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-4">
          <div class="panel panel-danger">
            <div class="panel-body">
              <a ui-sref="doterra"><img src="/modules/core/img/brand/doterra-thumb.jpg" alt=""></a>
            </div>
            <div class="panel-footer">
              <h3 class="panel-title">Doterra</h3>
            </div>
          </div>
        </div>

      </div>
		</section>
  </section>
</section>